  // PROCESS
  // 0. CSS reset
  // 1. Set basic variables & media query ranges
  // 2. Style large blocks with bg colors for layout
  // 3. Get general layout elements (block) sized for all media queries
  // 4. Modify general layout elements with &
  // 5. Secondary features grid (S --> L)
  // 6. Typography & Image Sizes
  // 7. Refactor the SCSS to make it dryer & simpler.
  // 8. Set variables for common values.

  // 0. RESETS & FRAMEWORKS
  @import "partials/reset";

  // VARIABLES & MIXINS

  $white : #ffffff;
  $neutral-color : #E0E4CC;
  $bright-blue-color : #69D2E7;
  $neutral-blue-color : #A7DBD8;
  $goldfish-color : #F38630;
  $bright-orange-color : #FA6900;

  // Mixins

  // MEDIA QUERY RANGES
  $large: "only screen and (min-width:800px)";
  $mobile: "only screen and (max-width:800px)";

  // GENERAL STYLES

  // TAGS
body {
  margin : 0;
  background-color : $white;
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  margin : 0;
  padding : 0.25em 3vw;
  color: $goldfish-color;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 700;
  font-size: 1.5em;
  // -webkit-box-shadow: inset 0 -7px 7px -4px rgba(0,0,0,0.2);
  // -moz-box-shadow: inset 0 -7px 7px -4px rgba(0,0,0,0.2);
  // box-shadow: inset 0 7px -7px -4px rgba(0,0,0,0.2);
}

h2 {
  margin-top : 1.3em;
  text-align: center;
  color : #999;
  font-size: 1.3em;
}

input {
  padding: 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #808080;
  width: auto;
  font-size: .9em;
  webkit-transition: border .2s ease-out;
  transition: border .2s ease-out;
  @media #{$mobile} {
    // padding: 0;
    max-width:37.5em;
  }
}

input:focus{
  outline:0;
  border-bottom: 2px solid $bright-blue-color;
  webkit-transition: border .2s ease;
  transition: border .2s ease;

}

input:active{
  border-bottom: 2px solid $bright-blue-color;
}

select {
  margin-right: 1em;
  background-color: rgba(255, 255, 255, 0.90);
   width: 100%;
   padding: .5em;
   border: 1px solid #f2f2f2;
   border-radius: 2px;
   height: 2rem;
   @media #{$mobile} {
     // padding: 0;
     max-width:50%;
   }
}
select:focus {
  outline: 1px solid $neutral-color;
}

button {
  margin-top:1em;
  border-radius: 1px;
  min-height : 2em;
  line-height : 1.7em;
  vertical-align: middle;
  text-align: center;
  border: none;
  background-color: transparent;
  color:#808080;

  webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  webkit-transition: color 0.2s;
  transition: color 0.2s;
  padding: 0.5em 1em;
}

button:focus {
  outline: none;
}

button:hover{
  background-color: $bright-blue-color;
  color: $white;
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
  webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  webkit-transition: color 0.2s;
  transition: color 0.2s;
}

button.trash {
  height:1.5em;
  color: #cccccc;
  text-align: center;
  border: none;
  background-color: transparent;
  line-height : 1.5em;
  overflow: hidden;
  margin-top: .75em;
}

button.trash:hover {
  color: #808080;
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
  webkit-transition: color 0.2s;
  transition: color 0.2s;
}

label {
  padding-top: 0.75em;
  font-size: 0.75em;
}

label:active {
  color: $neutral-blue-color;
}//tags

  //ID'S
#nav {
  background-color: #808080;
  height : 3em;

  display : -webkit-flex;
     -webkit-flex-direction : row wrap;
  display : flex;
  flex-direction : row wrap;
  justify-content : space-between;

  -webkit-box-shadow: inset 0 -7px 7px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 -7px 7px -4px rgba(0,0,0,0.2);
  box-shadow: inset 0 7px -7px -4px rgba(0,0,0,0.2);

  @media #{$mobile} {
    height: 3em;
    .header-container {
      height: 3em;
      flex: 0 0 100%;
      h1 {
        text-align: center;
      }
    }
    .navLinks-container {
      display: none;
    }
  }
  .navLinks-container {
    ul {
      list-style : none;
      flex-flow : row wrap;
      display : -webkit-flex;
         -webkit-flex-direction : row;
      display : flex;
      justify-content : space-around;

      li {
        flex : 1 0 20;
        text-align : center;
        line-height: 3em;
        text-transform: capitalize;
        text-decoration: none;
        color: $neutral-color;
        padding: 0 3vw;
        a {
          color: $neutral-color;
        }

        a:hover {
          color : $bright-blue-color;
          text-decoration: none;
        }
      }
    }
  }
}

#mobileLinks-container{
  display:none;
  background-color: $neutral-blue-color;
  -webkit-box-shadow: inset 0 -7px 7px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 -7px 7px -4px rgba(0,0,0,0.2);
  box-shadow: inset 0 7px -7px -4px rgba(0,0,0,0.2);

  @media #{$mobile} {
    display:flex;
    justify-content: space-around;
    ul {
      list-style : none;
      flex-flow : row wrap;
      display : -webkit-flex;
         -webkit-flex-direction : row;
      display : flex;
      justify-content : space-around;

      li {
        flex : 1 0 20;
        text-align : center;
        line-height: 3em;
        text-transform: capitalize;
        text-decoration: none;
        color: #808080;
        padding: 0 3vw;
        a {
          color: #808080;
        }

        a:hover {
          color : $goldfish-color;
          text-decoration: none;
        }
      }
    }
  }
}
#loggedIn {
  flex : 1 0 20;
  align-self : flex-end;
}
.loggedIn-message {
  padding-top: 1em;
  padding-left: 3vw;
  font-size: 1em;
  color: $bright-blue-color;
}

#kanban {
  margin : 5px;
  ul {
    li {
      list-style : none;
    }
  }
  @media #{$large} {
    display : -webkit-flex;
       -webkit-flex-direction : row;
    display : flex;
    flex-flow : row nowrap;
    justify-content : space-around;

    .stages {
      flex-grow : 1;
      flex-shrink : 1;
      flex-basis : auto;
      min-width : 30vw;
    }
  }
}

#to-do-task-card{
  @media #{$large} {
   visibility: visible;
  }

}
#in-progress-task-card{
  @media #{$large} {
   visibility: visible;
  }
}
#done-task-card{
  @media #{$large} {
   visibility: visible;
  }
}

#footer {
  min-height : 50px;
}//id's

  //CLASSES
.commit {
  margin : 0;
  text-align: center;
}

.login-register {
  input {
    width: 100%
  }
}

.new-task {
  margin:0;
  fieldset{
    display : -webkit-flex;
       -webkit-flex-direction : row;
    display : flex;
    flex-flow : column wrap;
    justify-content : center;
    margin: 0;
    #fieldset-container{
      margin: 0;
      display:flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      @media #{$mobile} {
        display:flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        div {
          margin: 0;
          padding: 0 1.5em;
        }
      }
    }
  }
}
.status-message {
  padding: 1em;
  text-align : center;
}

.btn {
  margin-top:0.75em;
  line-height: 1em;
  vertical-align: middle;
  border-radius: 0px;
  webkit-transition: box-shadow 0.75s;
  transition: box-shadow 0.75s;
  webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
  webkit-transition: color 0.75s;
  transition: color 0.75s;
  color:#cccccc;
  border: 0px;
}

.btn:hover {
  webkit-transition: color 0.75s;
  transition: color 0.75s;
  color: $bright-blue-color;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  webkit-transition: box-shadow 0.75s;
  transition: box-shadow 0.75s;
}

.btn:target {
  webkit-transition: color 0.75s;
  transition: color 0.75s;
  color: $bright-blue-color;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  webkit-transition: box-shadow 0.75s;
  transition: box-shadow 0.75s;
}
.btn:focus {
  outline: none;
  background-color:white;
}
.btn-primary {
  margin-top: 0.75em;
  background-color: $neutral-blue-color;
  border: none;
  border-radius: none;
  line-height: 1em;
  vertical-align: middle;
  color: #999999;
}
.btn-primary:hover {
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.7);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.7);
  box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.7);
  webkit-transition: box-shadow 0.75s;
  transition: box-shadow 0.75s;
  webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
  webkit-transition: color 0.75s;
  transition: color 0.75s;
  color: $white;
  background-color: $bright-blue-color;
}


.tasks {
  padding-left: 0;
  margin : 0 auto;
}

.task-card {
  background-color: $white;
  margin : 0 auto;
  margin-top : 20px;
  border: 1px solid #fafafa;
  padding : 1.5em;
  overflow: hidden;
  max-width:37.5em;
  @media #{$large} {
    width : 30vw;
  }
  p {
    height : 2em;
    line-height : 2em;
    overflow: hidden;
    margin-top: .75em;
  }
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
  .priority-and-creator-holder {
    display : -webkit-flex;
           -webkit-flex-direction : row;
        display : flex;
        flex-flow : row nowrap;
        justify-content : space-between;
}


  .task_title{
    padding: 0.5em 0;
    font-size: 1.25em;
    padding-bottom: 0px;
    border-bottom: 2px solid $goldfish-color;
    text-transform: capitalize;
    overflow: hidden;
  }
  .task_title:hover{
    border-bottom: 2px solid $goldfish-color;

  }
  .task_creator {
    display: flex;
    text-align : right;
    font-style: italic;
    overflow: hidden;
    color: #808080;
  }
  .task_description{
    height: 1000px;
  }

  .task_priority{
    display: flex;
    max-width: 2em;
  }

  .editable {
    max-height: 2em;
    overflow: hidden;
  }
}

.auth {
  background-color: $white;
  margin : 0 auto;
  margin-top : 20px;
  border: 1px solid #fafafa;
  padding : 20px;
  padding-left : 30px;
  @media #{$large} {
    max-width : 33vw;
    -webkit-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.4);
  }

  p {
    height : 2em;
    line-height : 2em;
  }
}

  .temp-archive{
    margin-right : 30px;
    text-align: right;
  }

  .form-control {
    border-radius: 0px;
    border:none;
    height : 2em;
    padding-top:0.75em;
    }

  .editable-buttons {
    vertical-align: top;
  }

  .editable-click {
    border-bottom:1px dashed #cccccc;
    color: #808080;
    height : 2em;
  }

  .editable-click:hover {
    border-bottom:1px solid #cccccc;
    height : 2em;
    color: $bright-blue-color;
  }

  .editable-input{
    box-shadow: none;
    margin-top: 0.75em;
    outline:0;
    height:2.4em;
  }

  ////////// ANIMATIONS \\\\\\\\\\\\\

// .ng-enter {
//   transition:0.025s linear all;
//   -webkit-transition:0.025s linear all;
//   -moz-transition:0.025s linear all;
//   transition-delay: 0.025s;
//   -webkit-transition-delay: 0.025s;
//   -moz-transition-delay: 0.025s;
//   opacity:0.5;
// }
// .ng-leave{
//   transition:0.025s linear all;
//   -webkit-transition:0.025s linear all;
//   -moz-transition:0.025s linear all;
//   transition-delay: 0.025s;
//   -webkit-transition-delay: 0.025s;
//   -moz-transition-delay: 0.025s;
//   opacity:0.5;
// }
// .ng-enter.ng-enter-active {
//   transition-delay: 0.025s;
//   -webkit-transition-delay: 0.025s;
//   -moz-transition-delay: 0.025s;
//   opacity:1;
// }
