  // PROCESS
  // 0. CSS reset
  // 1. Set basic variables & media query ranges
  // 2. Style large blocks with bg colors for layout
  // 3. Get general layout elements (block) sized for all media queries
  // 4. Modify general layout elements with &
  // 5. Secondary features grid (S --> L)
  // 6. Typography & Image Sizes
  // 7. Refactor the SCSS to make it dryer & simpler.
  // 8. Set variables for common values.

  // 0. RESETS & FRAMEWORKS
  @import "partials/reset";

  // * {
  //   box-sizing: border-box;
  //   // transition: all 1s ease;
  // }

  // VARIABLES & MIXINS

  $white : #ffffff;
  $neutral-color : #E0E4CC;
  $bright-blue-color : #69D2E7;
  $neutral-blue-color : #A7DBD8;
  $goldfish-color : #F38630;
  $bright-orange-color : #FA6900;

  // Mixins

  // MEDIA QUERY RANGES
  $large: "only screen and (min-width:800px)";

  // @media #{$large} {
  //   // padding: 0;
  //   // width: 75%;
  //   border-top: 1px solid #eee;
  // }

//   // GENERAL STYLES


  body {
  margin : 0;
  background-color : $white;
  font-family: sans-serif;
  }

  h1 {
  margin : 0;
  padding : 0.5em 0;
  background-color: $goldfish-color;
  color: $neutral-color;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  font-weight: 700;
  font-size: 3em;
  }

  h2 {
    margin-top : 20px;
    text-align: center;
    color : #555;
    font-size: 20px;
    font-weight: bold;
  }



#nav {
  background-color: $neutral-blue-color;
  -webkit-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.4);
  box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.4);
  height : 3em;
  ul {
    list-style : none;
    display : -webkit-flex;
       -webkit-flex-direction : row;
    display : flex;
    flex-flow : row wrap;
    justify-content : space-around;

    li {
      text-align : center;
      flex : 1 0 20;
      line-height: 3em;
      text-transform: uppercase;
      text-decoration: none;
      color: $555555;


      a {
        color: $555555;
      }
    }
  }
}
#loggedIn {
  flex : 1 0 20;
  align-self : flex-end;
}

.status-message {
  margin: 10px;
  // padding-top: 10px;
  text-align : center;
}

#kanban {
  margin : 5px;
  ul {
    li {
      list-style : none;
    }
  }

  @media #{$large} {
    display : -webkit-flex;
       -webkit-flex-direction : row;
    display : flex;
    flex-flow : row nowrap;
    justify-content : space-around;

    .stages {
      flex-grow : 1;
      flex-shrink : 1;
      flex-basis : auto;
      min-width : 30vw;
    }
  }
}


  .commit {
    margin : auto;
    margin-top : 20px;
    text-align: center;

    button {
      height : 1.5em;
      line-height : 1.5em;
      vertical-align: middle;
      text-align: center;
    }
  }

.tasks {
  padding-left: 0;
  margin : 0 auto;
}

.task-card {
  background-color: $white;
  margin : 0 auto;
  margin-top : 20px;
  border: 3px solid $bright-orange-color;
  padding : 20px;
  padding-left : 30px;
  overflow: hidden;
  @media #{$large} {
    width : 30vw;
  }
  p {
    height : 2em;
    line-height : 2em;
    overflow: hidden;
  }

  -webkit-box-shadow: 7px 10px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 14px -4px rgba(0,0,0,0.75);
  .priority-and-creator-holder {
    display : -webkit-flex;
           -webkit-flex-direction : row;
        display : flex;
        flex-flow : row nowrap;
        justify-content : space-between;
  }
  .task_title{

    padding: 10px 0;
    border-bottom: 2px solid red;
    text-transform: capitalize;
    overflow: hidden;
  }
  .task_creator {
    display: flex;
    text-align : right;
    font-style: italic;
    overflow: hidden;
  }
  .task_description{
    height: 1000px;
  }

  .task_priority{
    display: flex;
    max-width: 2em;
  }

  .editable {
    max-height: 2em;
    overflow: hidden;
  }

}
div.task-card:hover {
  -webkit-box-shadow: 7px 10px 14px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 14px -1px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 14px -1px rgba(0,0,0,0.75);
}

li.task-card:hover {
  -webkit-box-shadow: 7px 10px 14px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 14px -1px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 14px -1px rgba(0,0,0,0.75);
}

.auth {
  background-color: $white;
  margin : 0 auto;
  margin-top : 20px;
  border: 3px solid $bright-blue-color;
  padding : 20px;
  padding-left : 30px;
  @media #{$large} {
    max-width : 33vw;
  }

  p {
    height : 2em;
    line-height : 2em;
  }

  -webkit-box-shadow: 7px 10px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 14px -4px rgba(0,0,0,0.75);
}

#footer {
  min-height : 50px;
}

.editable-buttons {
  vertical-align: middle;
}
.btn {
  line-height: 1em;
  vertical-align: middle;
}

.temp-archive{
  margin-right : 30px;
  text-align: right;
}

  input {
    margin : 5px 0;
    width: 100%;
  }

////////// ANIMATIONS \\\\\\\\\\\\\

.ng-enter {
  transition-delay: 0.25s;
  transition:0.25s linear all;
  opacity:0;
}
.ng-enter.ng-enter-active {
  transition-delay: 0.25s;
  opacity:1;
}
#to-do-task-card{
  @media #{$large} {
   visibility: visible;
  }

}
#in-progress-task-card{
  @media #{$large} {
   visibility: visible;
  }
}
#done-task-card{
  @media #{$large} {
   visibility: visible;
  }
}