<div>
    <form ng-submit="login(auth); auth=null; deleteMessage()" class="auth">
      <fieldset>
       <div class="auth_username">
         <label for="auth_username">Username</label>
         <input id="auth_username" type="text" ng-model="auth.username" autofocus>
       </div>
       <div class="auth_password">
         <label for="auth_password">Password </label>
         <input id="auth_password" type="password" ng-model="auth.password">
       </div>
       <div class="commit">
         <button type="submit" >Sign In</button>
       </div>
      </fieldset>
    </form>
  </div>