  <h2>New Task</h2>
<div class="task-card">
    <form ng-submit="addTask(new_task); deleteMessage(); deleteAddTaskMessage(); new_task=null">
      <fieldset>
       <div class="new_task_title task_title">
         <input id="new_task_title" id="input-group" type="text" ng-model="new_task.title" placeholder="Title" autofocus required>
       </div>
       <div class="new_task_description">
         <input id="new_task_description" type="text" ng-model="new_task.description" placeholder="Details" required>
       </div>
       <div class="new_task_assignedTo">
         <input id="new_task_assignedTo" type="text" ng-model="new_task.assignedTo" placeholder="Assign To" required>
       </div>
       <div class="new_task_priority">
         <input id="new_task_priority" type="number" ng-model="new_task.priority" placeholder="Priority" required>
       </div>
       <div ng-cloak class="status-message">{{addTaskMessage}}</div>
       <div class="commit">
         <button type="submit" class="button"><span class="glyphicon glyphicon-plus"></span></button>
       </div>
      </fieldset>
    </form>
</div>
<!-- <div class="temp-archive">(Temporary): <a ng-href="/archive"> Archive</a></div> -->
<div id="kanban">
  <div id="to-do" class="stages">
    <h2>To Do</h2>
    <ul class="tasks">
      <li class="task-card" ng-repeat="task in tasks | filter:{status:'To Do'} | orderBy:'-priority'">
        <div class="priority-and-creator-holder">
          <p class="task_priority" editable-text="task.priority" onbeforesave="editTask(task)">{{task.priority}}</p>
          <p class="task_creator" onbeforesave="editTask(task)">from {{task.createdBy}}</p>
        </div>
        <h4 class="task_title" editable-text="task.title" onbeforesave="editTask(task)">{{task.title}}</h4>
        <p class="task_description" editable-text="task.description" onbeforesave="editTask(task)">{{task.description}}</p>
        <p class="task_assignedTo" editable-text="task.assignedTo" onbeforesave="editTask(task)">{{task.assignedTo}}</p>
       <!-- <div ng-cloak class="bg-danger status-message">{{modifyTaskMessage}}</div> commented out because currently we redirect instead of display message : uncomment if we add error message with login redirect -->
        <div class="commit">
          <button type="button" ng-click="nextStatus(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-chevron-right"></span></button>
          <button type="button" ng-click="deleteTask(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
       </li>
    </ul>
  </div>
  <div id="in-progress" class="stages">
    <h2>In Progress</h2>
    <ul class="tasks">
    <li class="task-card" ng-repeat="task in tasks | filter:{status:'In Progress'} | orderBy:'-priority'">
     <div class="priority-and-creator-holder">
       <p class="task_priority" editable-text="task.priority" onbeforesave="editTask(task)">{{task.priority}}</p>
       <p class="task_creator" onbeforesave="editTask(task)">from {{task.createdBy}}</p>
     </div>
     <h4 class="task_title" editable-text="task.title" onbeforesave="editTask(task)">{{task.title}}</h4>
     <p class="task_description" editable-text="task.description" onbeforesave="editTask(task)">{{task.description}}</p>
     <p class="task_assignedTo" editable-text="task.assignedTo" onbeforesave="editTask(task)">{{task.assignedTo}}</p>
     <!-- <div ng-cloak class="bg-danger status-message">{{modifyTaskMessage}}</div> -->
      <div class="commit">
        <button type="button" ng-click="prevStatus(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button type="button" ng-click="nextStatus(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-chevron-right"></span></button>
        <button type="button" ng-click="deleteTask(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
     </li>
    </ul>
  </div>
  <div id="done" class="stages">
    <h2>Done</h2>
    <ul class="tasks">
    <li class="task-card" ng-repeat="task in tasks | filter:{status:'Done'} | orderBy:'-priority'">
     <div class="priority-and-creator-holder">
       <p class="task_priority" editable-text="task.priority" onbeforesave="editTask(task)">{{task.priority}}</p>
       <p class="task_creator" onbeforesave="editTask(task)">from {{task.createdBy}}</p>
     </div>
     <h4 class="task_title" editable-text="task.title" onbeforesave="editTask(task)">{{task.title}}</h4>
     <p class="task_description" editable-text="task.description" onbeforesave="editTask(task)">{{task.description}}</p>
     <p class="task_assignedTo" editable-text="task.assignedTo" onbeforesave="editTask(task)">{{task.assignedTo}}</p>
      <!-- <div ng-cloak class="bg-danger status-message">{{modifyTaskMessage}}</div> -->
      <div class="commit">
        <button type="button" ng-click="prevStatus(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-chevron-left"></button>
        <button type="button" ng-click="deleteTask(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
     </li>
    </ul>
  </div>
