  <h2>New Task</h2>
<div class="task-card">
    <form ng-submit="addTask(new_task); deleteMessage(); deleteAddTaskMessage(); new_task=null">
      <fieldset>
       <div class="new_task_title task_title">
        <label>Title</label>
         <input id="new_task_title" id="input-group" type="text" ng-model="new_task.title" autofocus required>
       </div>
       <div class="new_task_description">
        <label>Details</label>
        <input id="new_task_description" type="text" ng-model="new_task.description" required>
       </div>
       <div id="assign-priority-container">
         <div class="new_task_assignedTo">
          <label>Assign To</label>
          <select ng-options="user.username for user in users" id="new_task_assignedTo" type="text" ng-model="new_task.assignedTo" required>{{user.username}}</select>
         </div>
         <div class="new_task_priority">
          <label>Priority</label>
           <select id="new_task_priority" type="number" ng-model="new_task.priority" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
         </div>
       </div>
       <div class="new_task_moment_due">
        <label>Due Date</label>
         <input id="new_task_moment_due" type="date" ng-model="new_task.momentDue" data-date-inline-picker="false" data-date-open-on-focus="true" required>
       </div>
       <div ng-cloak class="status-message">{{addTaskMessage}}</div>
       <div class="commit">
         <button type="submit" class="button"><span class="glyphicon glyphicon-plus"></span></button>
       </div>
      </fieldset>
    </form>
</div>
<!-- <div class="temp-archive">(Temporary): <a ng-href="/archive"> Archive</a></div> -->
<div id="kanban">
  <div id="to-do" class="stages">
    <h2 ng-click="mobileShowHideToDo()">To Do</h2>
    <ul class="tasks" ng-show="mobileToggleToDo">
      <li class="task-card" ng-repeat="task in tasks | filter:{status:'To Do'} | orderBy:'-priority'">
        <div class="priority-and-creator-holder">
          <p id="to-do-task-card" class="task_priority" editable-text="task.priority" onbeforesave="editTask(task)">{{task.priority}}</p>
          <p class="task_creator" onbeforesave="editTask(task)">from {{task.createdBy}}</p>
        </div>
        <h4 class="task_title" editable-text="task.title" onbeforesave="editTask(task)">{{task.title}}</h4>
        <p class="task_description" editable-text="task.description" onbeforesave="editTask(task)">{{task.description}}</p>
        <p class="task_assignedTo" editable-text="task.assignedTo" onbeforesave="editTask(task)">{{task.assignedTo}}</p>
     <p class="task_momentDue" editable-date="task.momentDue" onbeforesave="editTask(task)" data-date-inline-picker="false" data-date-open-on-focus="true" >Due {{task.momentDue | amDateFormat: 'dddd, MMMM Do YYYY' }}</p>
        <div class="commit">
          <button type="button" ng-click="nextStatus(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-chevron-right"></span></button>
          <button type="button" ng-click="deleteTask(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
       </li>
    </ul>
  </div>
  <div id="in-progress" class="stages">
    <h2 ng-click="mobileShowHideInProgress()">In Progress</h2>
    <ul class="tasks" ng-show="mobileToggleInProgress">
    <li id="in-progress-task-card" class="task-card" ng-repeat="task in tasks | filter:{status:'In Progress'} | orderBy:'-priority'">
     <div class="priority-and-creator-holder">
       <p class="task_priority" editable-text="task.priority" onbeforesave="editTask(task)">{{task.priority}}</p>
       <p class="task_creator" onbeforesave="editTask(task)">from {{task.createdBy}}</p>
     </div>
     <h4 class="task_title" editable-text="task.title" onbeforesave="editTask(task)">{{task.title}}</h4>
     <p class="task_description" editable-text="task.description" onbeforesave="editTask(task)">{{task.description}}</p>
     <p class="task_assignedTo" editable-text="task.assignedTo" onbeforesave="editTask(task)">{{task.assignedTo}}</p>
     <p class="task_momentDue" editable-date="task.momentDue" onbeforesave="editTask(task)" data-date-inline-picker="false" data-date-open-on-focus="true" >Due {{task.momentDue | amDateFormat: 'dddd, MMMM Do YYYY' }}</p>
      <div class="commit">
        <button type="button" ng-click="prevStatus(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button type="button" ng-click="nextStatus(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-chevron-right"></span></button>
        <button type="button" ng-click="deleteTask(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
     </li>
    </ul>
  </div>
  <div id="done" class="stages">
    <h2 ng-click="mobileShowHideDone()">Done</h2>
    <ul class="tasks" ng-show="mobileToggleDone">
    <li id="done-task-card" class="task-card" ng-repeat="task in tasks | filter:{status:'Done'} | orderBy:'-priority'">
     <div class="priority-and-creator-holder">
       <p class="task_priority" editable-text="task.priority" onbeforesave="editTask(task)">{{task.priority}}</p>
       <p class="task_creator" onbeforesave="editTask(task)">from {{task.createdBy}}</p>
     </div>
     <h4 class="task_title" editable-text="task.title" onbeforesave="editTask(task)">{{task.title}}</h4>
     <p class="task_description" editable-text="task.description" onbeforesave="editTask(task)">{{task.description}}</p>
     <p class="task_assignedTo" editable-text="task.assignedTo" onbeforesave="editTask(task)">{{task.assignedTo}}</p>
     <p class="task_momentDue" editable-date="task.momentDue" onbeforesave="editTask(task)" data-date-inline-picker="false" data-date-open-on-focus="true" >Due {{task.momentDue | amDateFormat: 'dddd, MMMM Do YYYY' }}</p>
      <div class="commit">
        <button type="button" ng-click="prevStatus(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-chevron-left"></button>
        <button type="button" ng-click="deleteTask(task); deleteMessage(); deleteAddTaskMessage();"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
     </li>
    </ul>
  </div>
