/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  background-color: #fafafa;
  font-family: sans-serif; }

h1 {
  background-color: #F38630;
  color: #E0E4CC;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  font-weight: 700;
  font-size: 3em; }

h2 {
  margin-top: 20px;
  text-align: center;
  color: #555;
  font-size: 20px;
  font-weight: bold; }

#nav {
  background-color: #A7DBD8;
  height: 3em; }
  #nav ul {
    list-style: none;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    #nav ul li {
      text-align: center;
      flex: 1 0 20;
      line-height: 3em; }

#loggedIn {
  flex: 1 0 20;
  align-self: flex-end; }

.status-message {
  margin: 10px;
  text-align: center; }

#kanban {
  margin: 5px; }
  #kanban ul li {
    list-style: none; }
  @media only screen and (min-width: 800px) {
    #kanban {
      display: -webkit-flex;
      -webkit-flex-direction: row;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around; }
      #kanban .stages {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        min-width: 30vw; } }

.commit {
  margin: auto;
  margin-top: 20px;
  text-align: center; }
  .commit button {
    height: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: center; }

.tasks {
  padding-left: 0;
  margin: 0 auto; }

.task-card {
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 20px;
  border: 3px solid #FA6900;
  padding: 20px;
  padding-left: 30px;
  overflow: hidden;
  -webkit-box-shadow: 7px 10px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 14px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 14px -4px rgba(0, 0, 0, 0.75); }
  @media only screen and (min-width: 800px) {
    .task-card {
      width: 30vw; } }
  .task-card p {
    height: 2em;
    line-height: 2em;
    overflow: hidden; }
  .task-card .priority-and-creator-holder {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .task-card .task_title {
    padding: 10px 0;
    border-bottom: 2px solid red;
    text-transform: capitalize;
    overflow: hidden; }
  .task-card .task_creator {
    display: flex;
    text-align: right;
    font-style: italic;
    overflow: hidden; }
  .task-card .task_description {
    height: 1000px; }
  .task-card .task_priority {
    display: flex;
    max-width: 2em; }
  .task-card .editable {
    max-height: 2em;
    overflow: hidden; }

div.task-card:hover {
  -webkit-box-shadow: 7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 14px -1px rgba(0, 0, 0, 0.75); }

li.task-card:hover {
  -webkit-box-shadow: 7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 14px -1px rgba(0, 0, 0, 0.75); }

.auth {
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 20px;
  border: 3px solid #69D2E7;
  padding: 20px;
  padding-left: 30px;
  -webkit-box-shadow: 7px 10px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 14px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 14px -4px rgba(0, 0, 0, 0.75); }
  @media only screen and (min-width: 800px) {
    .auth {
      max-width: 33vw; } }
  .auth p {
    height: 2em;
    line-height: 2em; }

#footer {
  min-height: 50px; }

.editable-buttons {
  vertical-align: middle; }

.btn {
  line-height: 1em;
  vertical-align: middle; }

.temp-archive {
  margin-right: 30px;
  text-align: right; }

input {
  margin: 5px 0;
  width: 100%; }

.ng-enter {
  transition-delay: 0.25s;
  transition: 0.25s linear all;
  opacity: 0; }

.ng-enter.ng-enter-active {
  transition-delay: 0.25s;
  opacity: 1; }
