/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Fira Sans', sans-serif; }

h1 {
  margin: 0;
  padding: 0.25em 3vw;
  color: #F38630;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 700;
  font-size: 1.5em; }

h2 {
  margin-top: 1.5em;
  text-align: center;
  color: #555;
  font-size: 1.5em;
  font-weight: bold; }

input {
  padding: 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #808080;
  width: auto;
  font-size: .9em;
  webkit-transition: border .2s ease-out;
  transition: border .2s ease-out; }

input:focus {
  outline: 0;
  border-bottom: 2px solid #69D2E7;
  webkit-transition: border .2s ease;
  transition: border .2s ease; }

input:active {
  border-bottom: 2px solid #69D2E7; }

select {
  margin-right: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 2rem; }

select:focus {
  outline: 1px solid #E0E4CC; }

button {
  margin-top: 1em;
  border-radius: 1px;
  min-height: 2em;
  line-height: 1.7em;
  vertical-align: middle;
  text-align: center;
  border: none;
  background-color: transparent;
  webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  webkit-transition: color 0.2s;
  transition: color 0.2s;
  padding: 0.5em 1em; }

button:focus {
  outline: none; }

button:hover {
  background-color: #69D2E7;
  color: #ffffff;
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.7);
  webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  webkit-transition: color 0.2s;
  transition: color 0.2s; }

button.trash {
  height: 1.5em;
  color: #cccccc;
  text-align: center;
  border: none;
  background-color: transparent;
  line-height: 1.5em;
  overflow: hidden;
  margin-top: .75em; }

button.trash:hover {
  color: #808080;
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px transparent;
  webkit-transition: color 0.2s;
  transition: color 0.2s; }

label {
  padding-top: 0.75em;
  font-size: 0.75em; }

label:active {
  color: #A7DBD8; }

#nav {
  background-color: #808080;
  height: 3em;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: inset 0 -7px 7px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -7px 7px -4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 7px -7px -4px rgba(0, 0, 0, 0.2); }
  #nav .navLinks-container ul {
    list-style: none;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    justify-content: space-around; }
    #nav .navLinks-container ul li {
      flex: 1 0 20;
      text-align: center;
      line-height: 3em;
      text-transform: capitalize;
      text-decoration: none;
      color: #E0E4CC;
      padding: 0 3vw; }
      #nav .navLinks-container ul li a {
        color: #E0E4CC; }
      #nav .navLinks-container ul li a:hover {
        color: #69D2E7;
        text-decoration: none; }

#loggedIn {
  flex: 1 0 20;
  align-self: flex-end; }

.loggedIn-message {
  padding-top: 1em;
  padding-left: 3vw;
  font-size: 1em;
  color: #69D2E7; }

#kanban {
  margin: 5px; }
  #kanban ul li {
    list-style: none; }
  @media only screen and (min-width: 800px) {
    #kanban {
      display: -webkit-flex;
      -webkit-flex-direction: row;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around; }
      #kanban .stages {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        min-width: 30vw; } }

.new-task {
  margin: 0; }
  .new-task fieldset {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
    .new-task fieldset #fieldset-container {
      margin: 1em 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around; }

.login-register input {
  width: 100%; }

#footer {
  min-height: 50px; }

.commit {
  margin: 0;
  text-align: center; }

.status-message {
  padding: 1em;
  text-align: center; }

.btn {
  margin-top: 0.75em;
  line-height: 1em;
  vertical-align: middle;
  border-radius: 0px;
  webkit-transition: box-shadow 0.75s;
  transition: box-shadow 0.75s;
  webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
  webkit-transition: color 0.75s;
  transition: color 0.75s;
  color: #555555; }

.btn:hover {
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.7);
  webkit-transition: box-shadow 0.75s;
  transition: box-shadow 0.75s;
  webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
  webkit-transition: color 0.75s;
  transition: color 0.75s;
  color: #ffffff;
  background-color: #69D2E7; }

.btn:focus {
  outline: none; }

.btn-primary {
  margin-top: 0.75em;
  background-color: #A7DBD8;
  border: none;
  border-radius: none;
  line-height: 1em;
  vertical-align: middle; }

.tasks {
  padding-left: 0;
  margin: 0 auto; }

.task-card {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #fafafa;
  padding: 1.5em;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.4); }
  @media only screen and (min-width: 800px) {
    .task-card {
      width: 30vw; } }
  .task-card p {
    height: 2em;
    line-height: 2em;
    overflow: hidden;
    margin-top: .75em; }
  .task-card .priority-and-creator-holder {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  .task-card .task_title {
    padding: 0.5em 0;
    font-size: 1.25em;
    padding-bottom: 0px;
    border-bottom: 2px solid #F38630;
    text-transform: capitalize;
    overflow: hidden; }
  .task-card .task_title:hover {
    border-bottom: 2px solid #F38630; }
  .task-card .task_creator {
    display: flex;
    text-align: right;
    font-style: italic;
    overflow: hidden;
    color: #808080; }
  .task-card .task_description {
    height: 1000px; }
  .task-card .task_priority {
    display: flex;
    max-width: 2em; }
  .task-card .editable {
    max-height: 2em;
    overflow: hidden; }

.auth {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #fafafa;
  padding: 20px;
  padding-left: 30px;
  -webkit-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 14px -4px rgba(0, 0, 0, 0.4); }
  @media only screen and (min-width: 800px) {
    .auth {
      max-width: 33vw; } }
  .auth p {
    height: 2em;
    line-height: 2em; }

.temp-archive {
  margin-right: 30px;
  text-align: right; }

.form-control {
  border-radius: 0px;
  border: none;
  height: 2em;
  padding-top: 0.75em; }

.editable-buttons {
  vertical-align: middle; }

.editable-click {
  border-bottom: 1px dashed #cccccc;
  color: #808080;
  height: 2em; }

.editable-click:hover {
  border-bottom: 1px solid #cccccc;
  height: 2em;
  color: #69D2E7; }

.editable-input {
  box-shadow: none;
  margin-top: 0.75em;
  outline: 0;
  height: 2.4em; }

.ng-enter {
  transition-delay: 0.25s;
  transition: 0.25s linear all;
  opacity: 0; }

.ng-enter.ng-enter-active {
  transition-delay: 0.25s;
  opacity: 1; }

@media only screen and (min-width: 800px) {
  #to-do-task-card {
    visibility: visible; } }

@media only screen and (min-width: 800px) {
  #in-progress-task-card {
    visibility: visible; } }

@media only screen and (min-width: 800px) {
  #done-task-card {
    visibility: visible; } }
